[project]
	description = MultiDoge is a desktop Dogecoin client, powered by dogecoinj. Ported from the MultiBit Bitcoin client.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikhil Manchanda (SlickNik)
[access "refs/for/refs/*"]
	read = group user/Nikhil Manchanda (SlickNik)
	push = group user/Nikhil Manchanda (SlickNik)
	label-Code-Review = -2..+2 group user/Nikhil Manchanda (SlickNik)
	label-Verified = -1..+1 group user/Nikhil Manchanda (SlickNik)
	rebase = group user/Nikhil Manchanda (SlickNik)
	removeReviewer = group user/Nikhil Manchanda (SlickNik)
	submit = group user/Nikhil Manchanda (SlickNik)
[access "refs/heads/*"]
	read = group user/Nikhil Manchanda (SlickNik)
	create = group user/Nikhil Manchanda (SlickNik)
	push = +force group user/Nikhil Manchanda (SlickNik)
	pushMerge = group user/Nikhil Manchanda (SlickNik)
[access "refs/tags/*"]
	push = +force group user/Nikhil Manchanda (SlickNik)
	pushTag = group user/Nikhil Manchanda (SlickNik)
	pushSignedTag = group user/Nikhil Manchanda (SlickNik)
